services:
  mongodb:
    container_name: quizz-mongodb
    image: mongo:8.0
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: quizz
      MONGO_INITDB_ROOT_PASSWORD: quizz
      MONGO_INITDB_DATABASE: quizz
    volumes:
      - mongodb_data:/data/db
    networks:
      - backend

  redis:
    container_name: quizz-redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - backend

volumes:
  mongodb_data:
  redis_data:

networks:
  backend:
